/* verison 1.1 */


/*//////////////////////////////////
----------For all subsites----------
//////////////////////////////////*/

body
{
    min-width: 1150px;
    margin: 0 !important;
    font-family: 'Roboto Mono', monospace;
}

#container
{
    background-color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#timer
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: black;
    font-size: 18px;
    text-align: right;
    margin-top: 50px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1.5px;
}

#topbar
{
    width: 90%;
    min-width: 900px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #6699cc;
    text-align: center;
    font-size: 16px;
    color: white;
    border-radius: 60px;
    border: 1px solid #707070;
}

#actions
{
    width: 1000px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    
}

#logo
{
    float: left;
    width: 300px;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Orbitron', sans-serif;
    color: black;
    margin-top: 13px;
}

#logo:hover
{
    cursor: pointer;
}

a.logo
{
    text-decoration: none;
    color: black;
}

.menu_button
{
    float: left;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px dotted #000;
    margin-top: 10.5px;
    text-shadow: 
        1px 1px 0 #333,
        -1px 1px 0 #333,
        -1px -1px 0 #333,
        1px -1px 0 #333;
}

.header
{
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
    padding: 10px;
    text-align: left;
}

.title
{
    text-align: left;
}

.post_content
{
    text-align: justify;
}

.list_link:hover
{
    cursor: pointer;
    color: orange;
}

#content
{
    width: 900px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}



a.list_link
{
    color: white;
    text-decoration: none;  
}

a.contact_link
{
    color: blue;
}

#footer
{
    width: 900px;
    height: 34px;
    color: #999;
    border-top: 1px solid #999;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    text-align: right;
}

/*//////////////////////////////////
------------Strona główna-----------
//////////////////////////////////*/

.post
{
    border-top: 1px solid #999;
    padding-top: 20px;
}

/*//////////////////////////////////
---------------O mnie---------------
//////////////////////////////////*/

#about_me
{
    float: left;
    margin-right: 15px;
    height: 475px;
    width: 385px;
    text-align: left;
}

#multimedia
{
    height: 475px;
    width: 500px;
    float: left;
}

#story
{
    border-top: 1px solid #999;
    text-align: justify; 
    width: 900px;
}

/*//////////////////////////////////
--------------Projekty--------------
//////////////////////////////////*/

.type
{
    text-align: left;
}

.category
{
    text-align: justify;
}

/*//////////////////////////////////
--------Skąd czerpię wiedzę---------
//////////////////////////////////*/

.source
{
    text-align: left;
}